<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ExecuteUpdateURL" value="http://www.panoramabikes.gr/sync-sys/sync-exe.php"/>
    <add key="ConfigLoadURL" value="http://www.panoramabikes.gr/sync-sys/sync1.php"/>

    <!--if ($_POST["SyncKey1"] != "dbsync2014" || $_POST["SyncKey2"] != "panbikes2004")-->
    <add key="SyncKey1" value="dbsync2014"/>
    <add key="SyncKey2" value="panbikes2004"/>
    <add key="InvalidCharacters" value="?*"/>
    <add key="ApothikiFile" value="D:\\Panorama\\apothiki.csv"/>

    <add key="DebugProductIds" value="32;46"/>
    
  </appSettings>
  
</configuration>


